In [1]:
# Import
from pyspark.sql import SparkSession

# Create SparrkSession
spark = SparkSession.builder.appName('spark-sql-distinct').getOrCreate()

# Prepare Data
data = [
    ("James", "Sales", 3000), \
    ("Michael", "Sales", 4600), \
    ("Robert", "Sales", 4100), \
    ("Michael", "Sales", 4600), \
    ("Robert", "Sales", 4100), \
    ("James", "Sales", 3000)
  ]

# Create DataFrame
columns= ["employee_name", "department", "salary"]
df = spark.createDataFrame(data = data, schema = columns)
df.printSchema()
df.show(truncate=False)

25/10/16 06:44:02 WARN Utils: Your hostname, vmware-ubuntu-24.04 resolves to a loopback address: 127.0.1.1; using 192.168.154.133 instead (on interface ens33)
25/10/16 06:44:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/10/16 06:44:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|James        |Sales     |3000  |
+-------------+----------+------+

In [2]:
# Select distinct rows
distinctDF = df.distinct()
distinctDF.show(truncate=False)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
+-------------+----------+------+

In [3]:
# Select distinct multiple columns
df2 = df.dropDuplicates(["department","salary"])
df2.show(truncate=False)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Robert       |Sales     |4100  |
|Michael      |Sales     |4600  |
+-------------+----------+------+

In [4]:
# select distinct on multiple columns
dropDisDF = df.dropDuplicates(["salary"]).select("salary")
dropDisDF.show(truncate=False)

print(df.dropDuplicates(["salary"]).select("salary").collect())

+------+
|salary|
+------+
|3000  |
|4600  |
|4100  |
+------+

[Row(salary=3000), Row(salary=4600), Row(salary=4100)]

In [6]:

# Create temporary view
df.createOrReplaceTempView("TAB")
spark.sql("SELECT DISTINCT * FROM TAB").show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
+-------------+----------+------+

In [8]:
spark.sql("SELECT DISTINCT DEPARTMENT, SALARY FROM TAB").show()

+----------+------+
|DEPARTMENT|SALARY|
+----------+------+
|     Sales|  3000|
|     Sales|  4600|
|     Sales|  4100|
+----------+------+