In [5]:
%pip install ipython-sql pymysql jupysql duckdb-engine grpcio

Requirement already satisfied: ipython-sql in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: pymysql in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (1.1.2)
Requirement already satisfied: jupysql in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (0.11.1)
Requirement already satisfied: duckdb-engine in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (0.17.0)
Collecting grpcio
  Downloading grpcio-1.75.1-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (3.7 kB)
Requirement already satisfied: prettytable in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython-sql) (9.5.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython-sql) (2.0.43)
Requirement already satisfied: sqlparse in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: jinja2 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from jupysql) (3.1.6)
Requirement already satisfied: sqlglot>=11.3.7 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from jupysql) (27.21.0)
Requirement already satisfied: jupysql-plugin>=0.4.2 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from jupysql) (0.4.5)
Requirement already satisfied: ploomber-core>=0.2.7 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from jupysql) (0.2.27)
Requirement already satisfied: duckdb>=0.5.0 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from duckdb-engine) (1.4.1)
Requirement already satisfied: packaging>=21 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from duckdb-engine) (25.0)
Requirement already satisfied: typing-extensions~=4.12 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from grpcio) (4.15.0)
Requirement already satisfied: pyyaml in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.3)
Requirement already satisfied: posthog>=3.0 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ploomber-core>=0.2.7->jupysql) (6.7.6)
Requirement already satisfied: requests<3.0,>=2.7 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.32.3)
Requirement already satisfied: python-dateutil>=2.2 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Requirement already satisfied: backoff>=1.10.0 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: distro>=1.5.0 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.9.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2025.10.5)
Requirement already satisfied: wcwidth in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.14)
Requirement already satisfied: greenlet>=1 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: decorator in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from jinja2->jupysql) (3.0.3)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from stack_data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading grpcio-1.75.1-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (6.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.5/6.5 MB 19.1 MB/s  0:00:00 eta 0:00:01
Installing collected packages: grpcio
Successfully installed grpcio-1.75.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
%conda install mysqlclient -c conda-forge --quiet

Unexpected error writing token file:
  path: /home/brijeshdhaker/.conda/aau_token_host
  exception: write() argument must be str, not None
2 channel Terms of Service accepted
Retrieving notices: ...working... done
Channels:
 - conda-forge
 - defaults
Platform: linux-64
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [ ]:
%%bash

ls -l /usr/local

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://mysqladmin:paSSW0rd@mysqlserver.sandbox.net:3306/SANDBOXDB

Connecting to 'mysql+pymysql://mysqladmin:***@mysqlserver.sandbox.net:3306/SANDBOXDB'

In [5]:
%%sql 

USE SANDBOXDB;

Running query in 'mysql+pymysql://mysqladmin:***@mysqlserver.sandbox.net:3306/SANDBOXDB'

++
||
++
++

In [5]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [4]:
%%sql 
show databases;

Running query in 'mysql+pymysql://mysqladmin:***@mysqlserver.sandbox.net:3306/SANDBOXDB'

7 rows affected.

+--------------------+
|      Database      |
+--------------------+
|    NEETASTUDIO     |
|       PUBLIC       |
|     SANDBOXDB      |
| information_schema |
|       mysql        |
| performance_schema |
|        sys         |
+--------------------+

In [3]:
%%sql 
show tables;

Running query in 'mysql+pymysql://mysqladmin:***@mysqlserver.sandbox.net:3306/SANDBOXDB'

+---------------------+
| Tables_in_SANDBOXDB |
+---------------------+
+---------------------+

In [6]:
%sql select * from NEETASTUDIO.CUSTOMER_ENQUIRIES LIMIT 5

Running query in 'mysql+pymysql://mysqladmin:***@mysqlserver.sandbox.net:3306/SANDBOXDB'

2 rows affected.

+----+------------+-------------------------+----------------+-------------+---------------------------------------+---------------------+
| ID |    NAME    |          EMAIL          |     PHONE      | ENQUIRY_FOR |                MESSAGE                |        ADD_TS       |
+----+------------+-------------------------+----------------+-------------+---------------------------------------+---------------------+
| 1  | Deepika D. | deepikadhaker@gmail.com | +91 9820937445 |  maternity  | I am looking for maternity photoshoot | 2025-10-15 08:49:40 |
| 2  |  Swati R.  |     swatir@gmail.com    | +91 9820937448 |     kids    |    I am looking for kid photography   | 2025-10-15 08:49:40 |
+----+------------+-------------------------+----------------+-------------+---------------------------------------+---------------------+

In [7]:
%%sql
 
select * from NEETASTUDIO.CUSTOMER_ENQUIRIES LIMIT 5

Running query in 'mysql+pymysql://mysqladmin:***@mysqlserver.sandbox.net:3306/SANDBOXDB'

2 rows affected.

+----+------------+-------------------------+----------------+-------------+---------------------------------------+---------------------+
| ID |    NAME    |          EMAIL          |     PHONE      | ENQUIRY_FOR |                MESSAGE                |        ADD_TS       |
+----+------------+-------------------------+----------------+-------------+---------------------------------------+---------------------+
| 1  | Deepika D. | deepikadhaker@gmail.com | +91 9820937445 |  maternity  | I am looking for maternity photoshoot | 2025-10-15 08:49:40 |
| 2  |  Swati R.  |     swatir@gmail.com    | +91 9820937448 |     kids    |    I am looking for kid photography   | 2025-10-15 08:49:40 |
+----+------------+-------------------------+----------------+-------------+---------------------------------------+---------------------+