In [ ]:
pip install ipython-sql pymysql jupysql duckdb-engine

Requirement already satisfied: ipython-sql in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: pymysql in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (1.1.2)
Requirement already satisfied: prettytable in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython-sql) (9.5.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython-sql) (2.0.43)
Requirement already satisfied: sqlparse in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: decorator in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.14)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from stack_data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/envs/env_python3_11_13/lib/python3.11/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

In [1]:
%conda install mysqlclient -c conda-forge --quiet

Unexpected error writing token file:
  path: /home/brijeshdhaker/.conda/aau_token_host
  exception: write() argument must be str, not None
2 channel Terms of Service accepted
Retrieving notices: ...working... done
Channels:
 - conda-forge
 - defaults
Platform: linux-64
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: /opt/conda/envs/env_python3_11_13

  added / updated specs:
    - mysqlclient


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2025.10.5  |       hbd8a1cb_0         152 KB  conda-forge
    certifi-2025.10.5          |     pyhd8ed1ab_0         156 KB  conda-forge
    mysql-common-9.3.0         |       h266115a_0         621 KB  conda-forge
    mysql-libs-9.3.0           |       he0572af_0         1.3 MB  conda-forge
    mysqlclient-2.2.7          |  py311h1f59a77_3         119 KB  conda-forge
    openssl-3.5.4              |       h26f9b46_0         3.0 MB  conda-forge
    ------------------------------------------------------------
                                           Total:         5.3 MB

The following NEW packages will be INSTALLED:

  mysql-common       conda-forge/linux-64::mysql-common-9.3.0-h266115a_0
  mysql-libs         conda-forge/linux-64::mysql-libs-9.3.0-he0572af_0
  mysqlclient        conda-forge/linux-64::mysqlclient-2.2.7-py311h1f59a77_3

The following packages will be UPDATED:

  ca-certificates                       2025.8.3-hbd8a1cb_0 --> 2025.10.5-hbd8a1cb_0
  certifi                             2025.8.3-pyhd8ed1ab_0 --> 2025.10.5-pyhd8ed1ab_0
  openssl                                  3.5.3-h26f9b46_1 --> 3.5.4-h26f9b46_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [3]:
%%bash

ls -l /usr/local

total 32
drwxr-xr-x 2 root root 4096 Aug  5 22:18 bin
drwxr-xr-x 2 root root 4096 Aug  5 22:18 etc
drwxr-xr-x 2 root root 4096 Aug  5 22:18 games
drwxr-xr-x 2 root root 4096 Aug  5 22:18 include
drwxr-xr-x 3 root root 4096 Aug  5 22:18 lib
lrwxrwxrwx 1 root root    9 Aug  5 22:18 man -> share/man
drwxr-xr-x 2 root root 4096 Aug  5 22:18 sbin
drwxr-xr-x 7 root root 4096 Aug  5 22:21 share
drwxr-xr-x 2 root root 4096 Aug  5 22:18 src

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://mysqladmin:mysqladmin@mysqlserver.sandbox.net:3306/NEETASTUDIO

In [8]:
%sql USE NEETASTUDIO;

 * mysql+pymysql://mysqladmin:***@mysqlserver.sandbox.net:3306/NEETASTUDIO
0 rows affected.

[]

In [11]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [12]:
%sql select * from CUSTOMER_ENQUIRIES LIMIT 5

 * mysql+pymysql://mysqladmin:***@mysqlserver.sandbox.net:3306/NEETASTUDIO
3 rows affected.

[(1, 'Deepika D.', 'deepikadhaker@gmail.com', '+91 9820937445', 'maternity', 'I am looking for maternity photoshoot', datetime.datetime(2025, 9, 30, 4, 57, 33)),
 (2, 'Swati R.', 'swatir@gmail.com', '+91 9820937448', 'kids', 'I am looking for kid photography', datetime.datetime(2025, 9, 30, 4, 57, 33)),
 (3, 'Tejas D.', 'tejasdhaker@gmail.com', '+91 9820937445', 'maternity', 'I am looking for maternity photoshoot', datetime.datetime(2025, 9, 30, 4, 57, 33))]

In [13]:
%%sql
 
select * from CUSTOMER_ENQUIRIES LIMIT 5

 * mysql+pymysql://mysqladmin:***@mysqlserver.sandbox.net:3306/NEETASTUDIO
3 rows affected.

[(1, 'Deepika D.', 'deepikadhaker@gmail.com', '+91 9820937445', 'maternity', 'I am looking for maternity photoshoot', datetime.datetime(2025, 9, 30, 4, 57, 33)),
 (2, 'Swati R.', 'swatir@gmail.com', '+91 9820937448', 'kids', 'I am looking for kid photography', datetime.datetime(2025, 9, 30, 4, 57, 33)),
 (3, 'Tejas D.', 'tejasdhaker@gmail.com', '+91 9820937445', 'maternity', 'I am looking for maternity photoshoot', datetime.datetime(2025, 9, 30, 4, 57, 33))]