In [5]:
import org.apache.spark.sql.SparkSession;

SparkSession spark = SparkSession
  .builder()
  .master("local[*]")  // // spark://spark-iceberg.sandbox.net:7077
  .appName("Java Spark SQL basic example")
  .config("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions")
  .config("spark.eventLog.enabled", "true")
  .config("spark.eventLog.dir", "/home/iceberg/spark-events")
  .config("spark.history.fs.logDirectory", "/home/iceberg/spark-events")
  .config("spark.hadoop.fs.s3a.endpoint", "http://minio.sandbox.net:9010")
  .config("spark.hadoop.fs.s3a.access.key", "pgm2H2bR7a5kMc5XCYdO")
  .config("spark.hadoop.fs.s3a.secret.key", "zjd8T0hXFGtfemVQ6AH3yBAPASJNXNbVSx5iddqG")
  .config("spark.hadoop.fs.s3a.path.style.access", "true")
  .config("spark.hadoop.fs.s3a.aws.credentials.provider", "org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider")
  .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
  .getOrCreate();

spark.sparkContext().setLogLevel("ERROR");
spark

org.apache.spark.sql.SparkSession@73bb05d9

In [6]:
import org.apache.spark.sql.Dataset;
import org.apache.spark.sql.Row;


Dataset<Row> df = spark.read().csv("s3a://warehouse-raw/flight-data/airlines.dat");

// Displays the content of the DataFrame to stdout
df.show();
// +----+-------+
// | age|   name|
// +----+-------+
// |null|Michael|
// |  30|   Andy|
// |  19| Justin|
// +----+-------+

+---+--------------------+---+----+----+--------------+--------------+---+
|_c0|                 _c1|_c2| _c3| _c4|           _c5|           _c6|_c7|
+---+--------------------+---+----+----+--------------+--------------+---+
| -1|             Unknown| \N|   -| N/A|            \N|            \N|  Y|
|  1|      Private flight| \N|   -| N/A|          NULL|          NULL|  Y|
|  2|         135 Airways| \N|NULL| GNL|       GENERAL| United States|  N|
|  3|       1Time Airline| \N|  1T| RNX|       NEXTIME|  South Africa|  Y|
|  4|2 Sqn No 1 Elemen...| \N|NULL| WYT|          NULL|United Kingdom|  N|
|  5|     213 Flight Unit| \N|NULL| TFU|          NULL|        Russia|  N|
|  6|223 Flight Unit S...| \N|NULL| CHD|CHKALOVSK-AVIA|        Russia|  N|
|  7|   224th Flight Unit| \N|NULL| TTF|    CARGO UNIT|        Russia|  N|
|  8|         247 Jet Ltd| \N|NULL| TWF|  CLOUD RUNNER|United Kingdom|  N|
|  9|         3D Aviation| \N|NULL| SEC|       SECUREX| United States|  N|
| 10|         40-Mile Air| \N|  Q5| MLA|      MILE-AIR| United States|  Y|
| 11|              4D Air| \N|NULL| QRT|       QUARTET|      Thailand|  N|
| 12|611897 Alberta Li...| \N|NULL| THD|         DONUT|        Canada|  N|
| 13|    Ansett Australia| \N|  AN| AAA|        ANSETT|     Australia|  Y|
| 14|Abacus International| \N|  1B|NULL|          NULL|     Singapore|  Y|
| 15|     Abelag Aviation| \N|  W9| AAB|           ABG|       Belgium|  N|
| 16|      Army Air Corps| \N|NULL| AAC|       ARMYAIR|United Kingdom|  N|
| 17|Aero Aviation Cen...| \N|NULL| AAD|       SUNRISE|        Canada|  N|
| 18|Aero Servicios Ej...| \N|NULL| SII|        ASEISA|        Mexico|  N|
| 19|         Aero Biniza| \N|NULL| BZS|        BINIZA|        Mexico|  N|
+---+--------------------+---+----+----+--------------+--------------+---+
only showing top 20 rows